<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.bean.mapper.MessageMapper">
    <insert id="addMessage" parameterType="Message">
        insert into message(musername, memail, mcontent, mTime)
        values(#{musername},#{memail},#{mcontent},#{mTime})
    </insert>
    <select id="messageLists" resultType="Message">
        select * from message;
    </select>
    <delete id="deleteMessage" parameterType="int">
        delete from message where mid = #{mid};
    </delete>
    <delete id="batchDeleteMessages" parameterType="java.util.List">
        delete from message where mid in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="searchMessageBytime" parameterType="java.lang.String" resultType="Message">
        select * from message where mTime like "%"#{mTime}"%";
    </select>
    <select id="searchMessageByUsername" parameterType="java.lang.String" resultType="Message">
        select * from message where musername like "%"#{musername}"%";
    </select>
</mapper>